
.header {
    padding: 100px 400px;
}
ul {
    margin: 5;
    padding: 5;
  }
  ul li {
    cursor: pointer;
    position: relative;
    padding: 10px 6px 5px 23px;
    background: #eeeeee;
    font-size: 16px;
    transition: 0.2s;
  }